html
	head
		title controls.js demo
		link(rel="stylesheet" href="stylesheets/master.css")

	body
		main
			h1 controls.js demo
			#options

			//- h1 Links
			//- a(href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input") MDN article on inputs

		script(src="scripts/controls.js")
		script(src="scripts/index.js")