* {
	box-sizing: border-box;
	font-family: sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	padding: 0 1rem;
}

main {
	max-width: 100%;
	width: 600px;
	margin: 0 auto;
	display: block;

	#options {
		.option {
			display: block;
			width: 100%;
			padding: 2rem 0;
			border-top: 4px solid #eee;

			

			.option__value_wrapper > span {
				color: red;
			}
		}
	}
}